@model MovieFreak.ViewModels.GenreViewModels.GenresViewModel;
@{
    ViewData["Title"] = "Genres";
}

<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col-6 mt-3">
            <a asp-controller="Admin" asp-action="Index" class="btn btn-stnd"> <i class="fa fa-caret-left fa-light"></i> Back</a>
        </div>
        <div class="col-6 mt-3 text-end">
            <a asp-action="AddGenre" class="btn btn-stnd">Add new genre <i class="fa fa-caret-right fa-light"></i></a>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4">
            <form asp-controller="Genre" asp-action="Search" method="get">
                <div class="input-group py-1">
                    <span class="input-group-text border-orange" id="search-addon"><i class="fa-solid fa-magnifying-glass fa-main"></i></span>
                    <input asp-for="Search" type="search" class="form-control border-orange" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </form>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-auto table-responsive">
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th class="txt-color-dark" scope="col">Id</th>
                        <th class="txt-color-dark" scope="col">Genre</th>
                        <th class="txt-color-dark" scope="col"> </th>
                        <th class="txt-color-dark" scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var g in Model.Genres)
                    {
                        <tr>
                            <td class="py-3">@g.Id</td>
                            <td class="py-3">@g.FilmGenre</td>
                            <td class="py-3">
                                <a asp-action="EditGenre" asp-route-id="@g.Id" data-bs-toggle="tooltip" title="Edit genre">
                                    <i class="fa fa-pencil fa-main-accent"></i>
                                </a>
                            </td>
                            <td class="py-3">
                                <a asp-action="DeleteGenre" asp-route-id="@g.Id" data-bs-toggle="tooltip" title="Delete genre">
                                    <i class="fa fa-close fa-main-close"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>