@model MovieFreak.ViewModels.FilmViewModels.AddFilmViewModel;
@{
    ViewData["Title"] = "Film toevoegen";
}
<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a asp-action="Films" class="link"><i class="fa fa-caret-left fa-main"></i> Terug</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <div class="body-settings">
                <div class="form-add">
                    <form asp-action="AddFilm">

                        <div class="row">
                            <div class="col">
                                <div class="row row-cols-2">

                                    <div class="col-9">
                                        <div class="form-floating">
                                            <input asp-for="Titel" type="text" class="form-control" id="floatingInput" placeholder="firstname" />
                                            <label asp-for="Titel" for="floatingInput">Titel</label>
                                            <div class="text-start">
                                                <span asp-validation-for="Titel" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-floating">
                                            <input asp-for="Duurtijd" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                            <label asp-for="Duurtijd" for="floatingInput">Duur</label>
                                            <div class="text-start">
                                                <span asp-validation-for="Duurtijd" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-cols-2">
                                    
                                    <div class="col-9">
                                        <div class="form-floating">
                                            <input asp-for="Trailerlink" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                            <label asp-for="Trailerlink" for="floatingInput">Trailer link</label>
                                            <div class="text-start">
                                                <span asp-validation-for="Trailerlink" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-floating">
                                            <input asp-for="GenreId" type="text" class="form-control" id="floatingInput" placeholder="0" />
                                            <label asp-for="GenreId" for="floatingInput">Genre id</label>
                                            <div class="text-start">
                                                <span asp-validation-for="GenreId" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <textarea asp-for="Omschrijving" type="text" class="form-control" id="floatingInput" placeholder="description" onkeyup="adjustHeight(this)"></textarea>
                                            <label asp-for="Omschrijving" for="exampleFormControlTextarea1"></label>
                                            <div class="text-start">
                                                <span asp-validation-for="Omschrijving" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating text-start">
                                            <button type="submit" value="Create" class="btn btn-caution my-3">Film toevoegen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="row">
        <div class="mt-3 col-auto table-responsive">
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th class="txt-color-dark" scope="col">Id</th>
                        <th class="txt-color-dark" scope="col">Genre</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var g in Model.Genres)
                    {
                        <tr>
                            <td>@g.Id</td>
                            <td>@g.FilmGenre</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>

@*<section class="container">
    <div class="row">
        <div class="col">
            <div class="body-settings">
                <div class="form-add" style="max-width:none">
                    <form asp-action="AddFilm">

                        <div class="row row-cols-2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input asp-for="Film.Titel" type="text" class="form-control" id="floatingInput" placeholder="firstname" />
                                            <label asp-for="Film.Titel" for="floatingInput">Titel</label>
                                            <div class="text-start">
                                                <span asp-validation-for="Film.Titel" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating">
                                            <input asp-for="Film.Duurtijd" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                            <label asp-for="Film.Duurtijd" for="floatingInput">Duur</label>
                                            <div class="text-start">
                                                <span asp-validation-for="Film.Duurtijd" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input asp-for="Film.Genre.FilmGenre" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                            <label asp-for="Film.Genre.FilmGenre" for="floatingInput">Genre</label>
                                            <div class="text-start">
                                                <span asp-validation-for="Film.Genre.FilmGenre" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-floating">
                                            <input asp-for="Film.Trailerlink" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                            <label asp-for="Film.Trailerlink" for="floatingInput">Trailer link</label>
                                            <div class="text-start">
                                                <span asp-validation-for="Film.Trailerlink" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4 mb-1">
                                    <div class="col">
                                        <select class="form-select select" id="select">
                                            <option selected>Selecteer een taal</option>
                                            @foreach (var t in Model.Talen)
                                            {
                                                <option value="@t.Id">@t.GesprokenTaal</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <textarea asp-for="Film.Omschrijving" type="text" class="form-control" id="floatingInput" placeholder="description" onkeyup="adjustHeight(this)"></textarea>
                                            <label asp-for="Film.Omschrijving" for="exampleFormControlTextarea1"></label>
                                            <div class="text-start">
                                                <span asp-validation-for="Film.Omschrijving" class="txt-color-link fs-s"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>

                            <div class="col">
                                <div class="row mt-4 mb-2">
                                    <div class="col">
                                        <h4>Regisseur</h4>
                                        <select class="form-select select" id="select">
                                            <option selected>Selecteer een regisseur</option>
                                            @foreach (var p in Model.Personen)
                                            {
                                                if (p.Rol == "Regisseur")
                                                {
                                                    <option value="@p.Id">@p.Voornaam @p.Achternaam</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>


                                @for (int i = 1; i < 4; i++)
                                {
                                    <div class="row mt-4 mb-1">
                                        <div class="col">
                                            <h4>Acteur @i</h4>
                                            <select class="form-select select" id="select">
                                                <option selected>Selecteer een acteur</option>
                                                @foreach (var p in Model.Personen.OrderBy(x => x.Voornaam))
                                                {
                                                    if (p.Rol == "Acteur")
                                                    {
                                                        <option value="@p.Id">@p.Voornaam @p.Achternaam</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-1 py-3">
                                            Als:
                                        </div>
                                        <div class="col-5">
                                            <div class="form-floating">
                                                <input asp-for="VoornaamPersonage" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                                <label asp-for="VoornaamPersonage" for="floatingInput">Voornaam personage</label>
                                                <div class="text-start">
                                                    <span asp-validation-for="VoornaamPersonage" class="txt-color-link fs-s"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating">
                                                <input asp-for="AchternaamPersonage" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                                <label asp-for="AchternaamPersonage" for="floatingInput">Achternaam personage</label>
                                                <div class="text-start">
                                                    <span asp-validation-for="AchternaamPersonage" class="txt-color-link fs-s"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="form-floating text-end">
                                    <button type="submit" value="Create" class="btn btn-caution my-3" disabled>> Film toevoegen</button>
                                </div>

                            </div>
                        </div>

                        

                        

                    </form>
                </div>
            </div>
        </div>

    </div>
</section>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

