@model MovieFreak.ViewModels.FilmViewModels.FilmsViewModel;
@{
    ViewData["Title"] = "Movies";
}

<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
            
        </div>
    </div>

    <div class="row row-cols-2">
        <div class="col-6 mt-3">
            <a asp-controller="Admin" asp-action="Index" class="btn btn-stnd"> <i class="fa fa-caret-left fa-light"></i> Back</a>
        </div>
        <div class="col-6 mt-3 text-end">
            <a asp-action="AddFilm" class="btn btn-stnd">Add new movie <i class="fa fa-caret-right fa-light"></i></a>
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>

</section>

<section class="container">
    <div class="row">
        <div class="col table-responsive">
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th class="txt-color-dark" scope="col">Id</th>
                        <th class="txt-color-dark" scope="col">Title</th>
                        <th class="txt-color-dark" scope="col">Duration</th>
                        <th class="txt-color-dark" scope="col">Genre</th>
                        <th class="txt-color-dark" scope="col">Spoken language</th>
                        <th class="txt-color-dark" scope="col"> </th>
                        <th class="txt-color-dark" scope="col"> </th>
                        <th class="txt-color-dark" scope="col"> </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var t in Model.FilmTalen)
                    {
                        <tr>
                            <td class="py-3">@t.Film.Id</td>
                            <td class="py-3">@t.Film.Titel</td>
                            <td class="py-3">@t.Film.Duurtijd</td>
                            <td class="py-3">@t.Film.Genre.FilmGenre</td>
                            <td class="py-3">@t.Taal.GesprokenTaal</td>
                            <td class="py-3" style="max-width:max-content">
                                <a tabindex="0" class="link" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Description - @t.Film.Titel" data-bs-custom-class="custom-popover" data-bs-content="@t.Film.Omschrijving">
                                    <i class="fa fa-align-left fa-main-accent"></i>
                                </a>
                            </td>
                            <td class="py-3">
                                <a  asp-action="EditFilm" asp-route-id="@t.Film.Id" data-bs-toggle="tooltip" title="Edit - @t.Film.Titel">
                                    <i class="fa fa-pencil fa-main-accent"></i>
                                </a>
                            </td>
                            <td class="py-3">
                                <a asp-action="DeleteFilm" asp-route-id="@t.Film.Id" data-bs-toggle="tooltip" title="Delete - @t.Film.Titel">
                                    <i class="fa fa-close fa-main-close"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</section>