@model MovieFreak.ViewModels.FilmViewModels.FilmsViewModel;
@{
    ViewData["Title"] = "Movies";
}

<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col-6 mt-3">
            <a asp-controller="Admin" asp-action="Index" class="btn btn-stnd"> <i class="fa fa-caret-left fa-light"></i> Back</a>
        </div>
        <div class="col-6 mt-3 text-end">
            <a asp-action="AddFilm" class="btn btn-stnd">Add new movie <i class="fa fa-caret-right fa-light"></i></a>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4">
            <form asp-controller="Film" asp-action="Search2" method="get">
                <div class="input-group py-1">
                    <span class="input-group-text border-orange" id="search-addon"><i class="fa-solid fa-magnifying-glass fa-main"></i></span>
                    <input asp-for="Search" type="search" class="form-control border-orange" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </form>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col table-responsive">
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th class="txt-color-dark" scope="col">Id</th>
                        <th class="txt-color-dark" scope="col">Title</th>
                        <th class="txt-color-dark" scope="col">Duration</th>
                        <th class="txt-color-dark" scope="col">Genre</th>
                        <th class="txt-color-dark" scope="col">Description</th>
                        <th class="txt-color-dark" scope="col">Trailer</th>
                        <th class="txt-color-dark" scope="col"> </th>
                        <th class="txt-color-dark" scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var f in Model.Films)
                    {
                        <tr>
                            <td class="py-3">@f.Id</td>
                            <td class="py-3">@f.Titel</td>
                            <td class="py-3">@f.Duurtijd</td>
                            <td class="py-3">@f.Genre.FilmGenre</td>
                            <td class="py-3" style="max-width:max-content">
                                <a tabindex="0" class="link" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Description - @f.Titel" data-bs-custom-class="custom-popover" data-bs-content="@f.Omschrijving">
                                    <i class="fa fa-align-left fa-main-accent"></i>
                                </a>
                            </td>
                            <td class="py-3" style="max-width:max-content">
                                <a href="@f.Trailerlink" target="_blank">
                                    <i class="fa fa-youtube fa-main-accent"></i>
                                </a>
                            </td>
                            <td class="py-3">
                                <a  asp-action="EditFilm" asp-route-id="@f.Id" data-bs-toggle="tooltip" title="Edit - @f.Titel">
                                    <i class="fa fa-pencil fa-main-accent"></i>
                                </a>
                            </td>
                            <td class="py-3">
                                <a asp-action="DeleteFilm" asp-route-id="@f.Id" data-bs-toggle="tooltip" title="Delete - @f.Titel">
                                    <i class="fa fa-close fa-main-close"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>