@model MovieFreak.ViewModels.FilmDetailsViewModel;
@{
    ViewData["Title"] = this.Model.Titel;
}

@*LAPTOP LARGE*@
<section class="container mt-3 d-none d-xl-block">

    <div class="row row-cols-2">
        <div class="col-4">
            <img src="/images/placeholder-film.png" class="img-fluid rounded"/>
        </div>
        <div class="col-8 pt-2 position-relative">
            <h2 class="my-1">@this.Model.Titel</h2>
            <div class="row row-cols-2">
                <div class="col-10">
                    <hr class="hr-blue" />
                </div>
                <div class="col-2">
                    <h5 class="h4 py-2 m-0">@this.Model.Duurtijd</h5>
                </div>
            </div>
            <div class="row row-cols-3">
                <div class="col-2">
                    <h4 class="h4">@this.Model.Genre.FilmGenre</h4>
                </div>

                <div class="col-3">
                    <div class="row">
                        @foreach (var t in this.Model.FilmTalen)
                        {
                            <h4 class="col h4">
                                @t.Taal.GesprokenTaal
                            </h4>
                        }
                    </div>
                </div>

            </div>
            
            <div class="py-4 fs-6">
                <p class="line-clamp-10">@this.Model.Omschrijving</p>
            </div>

            <div class="position-absolute bottom-0 pb-2">
                <button class="btn btn-lg">
                    <i class="fa-solid fa-bookmark fa-2x txt-color-link"></i>
                </button>
                <a href="@this.Model.Trailerlink" target="_blank" class="link">
                    > Bekijk hier de trailer
                </a>
            </div>

            

        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <hr class="my-4" style="width:75%; margin: auto"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            
            <h2 class="pb-3">Regisseur</h2>

            @foreach (var p in this.Model.Personages)
            {
                if (p.Persoon.Rol == "Regisseur")
                {
                    <div class="row row-cols-4">
                        <div class="col-2">
                            <img src="/images/placeholder.png" class="img-fluid rounded" />
                        </div>
                        <div class="row row-cols-3 col-10 py-2">
                            <div class="col-6">
                                <h3 class="mb-0">
                                    @p.Persoon.Voornaam @p.Persoon.Achternaam <span class="fs-6">(@this.Model.BerekenLeeftijd(p.Persoon.Geboortedatum))</span>
                                </h3>
                                <h4 class="h4-details mt-0 invisible">Personage naam</h4>
                                <div class="pt-3">
                                    <h4 class="h4-details my-2">@p.Persoon.Geboortedatum.ToString("dd/MM/yyyy")</h4>
                                    <h4 class="h4-details my-2">@p.Persoon.Geboorteplaats</h4>
                                    <h4 class="h4-details my-2">@p.Persoon.Geboorteland</h4>
                                </div>
                            </div>
                            <div class="col-6 vl ps-4">
                                <p class="p-truncate">
                                    @p.Persoon.Biografie
                                </p>

                                <a tabindex="0" class="link" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Biografie - @p.Persoon.Voornaam @p.Persoon.Achternaam" data-bs-custom-class="custom-popover" data-bs-content="@p.Persoon.Biografie">
                                    > Lees meer</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <hr class="my-4" style="width:75%; margin: auto" />
        </div>
    </div>

    <div class="row">
        <div class="col">

            <h2 class="pb-3">Acteurs</h2>

            @foreach (var p in this.Model.Personages)
            {
                if (p.Persoon.Rol == "Acteur")
                {
                    <div class="row row-cols-4 mb-4">
                        <div class="col-2">
                            <img src="/images/placeholder.png" class="img-fluid rounded" />
                        </div>
                        <div class="row row-cols-3 col-10 py-2">
                            <div class="col-6">
                                <h3 class="mb-0">
                                    @p.Persoon.Voornaam @p.Persoon.Achternaam <span class="fs-6">(@this.Model.BerekenLeeftijd(p.Persoon.Geboortedatum))</span>
                                </h3>
                                <h4 class="h4-details mt-0 txt-color-accent">@p.VoornaamPersonage @p.AchternaamPersonage</h4>
                                <div class="pt-3">
                                    <h4 class="h4-details my-2">@p.Persoon.Geboortedatum.ToString("dd/MM/yyyy")</h4>
                                    <h4 class="h4-details my-2">@p.Persoon.Geboorteplaats</h4>
                                    <h4 class="h4-details my-2">@p.Persoon.Geboorteland</h4>
                                </div>
                            </div>
                            <div class="col-6 vl ps-4">
                                <p class="p-truncate">
                                    @p.Persoon.Biografie
                                </p>

                                <a tabindex="0" class="link" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Biografie - @p.Persoon.Voornaam @p.Persoon.Achternaam" data-bs-custom-class="custom-popover" data-bs-content="@p.Persoon.Biografie">
                                    > Lees meer</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

</section>