@model MovieFreak.ViewModels.GebruikerViewModels.GebruikerListViewModel;
@{
    ViewData["Title"] = "Gebruikersbeheer";
}
<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col-8 mt-3">
            <a asp-action="Create" class="link me-4">> Gebruiker toevoegen</a>
            <a asp-action="GrantPermissions" class="link">> Beheer gebruikersrollen</a>
        </div>
        <div class="col-4">
            <div class="input-group">
                <span class="input-group-text border-orange" id="search-addon"><i class="fa-solid fa-magnifying-glass fa-main"></i></span>
                <input type="search" class="form-control border-orange" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <hr class="hr-blue"/>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (var gebruiker in Model.Gebruikers.OrderBy(x => x.UserName))
        {
            <div class="col mb-3">
                <div class="card user-card" style="width: 18rem;">
                    <div class="card-body">

                        <div class="row">
                            <div class="col">
                                <i class="fa fa-user fa-main fs-3" >
                                </i>
                            </div>
                            <div class="col text-end">

                                <a class="" asp-action="Delete" asp-route-id="@gebruiker.Id" data-bs-toggle="tooltip" title="Gebruiker verwijderen">
                                    <i class="fa fa-close fa-main-close fs-5"></i>
                                </a>

                            </div>
                        </div>

                        <div class="pt-3">
                            <h5 class="card-title pb-2">@Html.DisplayFor(modelitem => gebruiker.UserName)</h5>
                            <h6 class="card-subtitle mb-2 text-muted small">@Html.DisplayFor(modelitem => gebruiker.Email)</h6>
                            <p class="card-text text-muted small">@Html.DisplayFor(modelitem => gebruiker.Id)</p>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</section>


