@model MovieFreak.ViewModels.UserViewModels.UsersViewModel;
@{
    ViewData["Title"] = "User management";
}
<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col-12 col-md-2 mt-3">
            <a href="/Identity/Account/Manage/Index" class="btn btn-stnd"><i class="fa fa-caret-left fa-light"></i> Back</a>
        </div>
        <div class="col-12 col-md-6 pt-4">
            <a asp-action="AddUser" class="link me-4"><i class="fa fa-caret-right fa-main"></i> Add user</a>
            <a asp-action="UserRole" class="link"><i class="fa fa-caret-right fa-main"></i> Manage user roles</a>
        </div>
        <div class="col-12 col-md-4 pt-3 mt-md-0">
            <form asp-controller="User" asp-action="Search" method="get">
                <div class="input-group">
                    <span class="input-group-text border-orange" id="search-addon"><i class="fa-solid fa-magnifying-glass fa-main"></i></span>
                    <input asp-for="Search" type="search" class="form-control border-orange" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </form>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (var gebruiker in Model.Users.OrderBy(x => x.UserName))
        {
            <div class="col mb-3">
                <div class="card user-card" style="width: 18rem;">
                    <div class="card-body">

                        <div class="row">
                            <div class="col">
                                <i class="fa fa-user fa-main fs-3">
                                </i>
                            </div>
                            <div class="col text-end">

                                <a class="" asp-action="DeleteUser" asp-route-id="@gebruiker.Id" data-bs-toggle="tooltip" title="Delete - @gebruiker.UserName">
                                    <i class="fa fa-close fa-main-close fs-5"></i>
                                </a>

                            </div>
                        </div>

                        <div class="pt-3">
                            <h5 class="card-title pb-2">@Html.DisplayFor(modelitem => gebruiker.UserName)</h5>
                            <h6 class="card-subtitle mb-2 text-muted small">@Html.DisplayFor(modelitem => gebruiker.Email)</h6>
                            <p class="card-text text-muted small">@Html.DisplayFor(modelitem => gebruiker.Id)</p>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</section>


