@model MovieFreak.ViewModels.PersonViewModels.PersonsViewModel;
@{
    ViewData["Title"] = "Persons";
}

<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col-6 mt-3">
            <a asp-controller="Admin" asp-action="Index" class="btn btn-stnd"> <i class="fa fa-caret-left fa-light"></i> Back</a>
        </div>
        <div class="col-6 mt-3 text-end">
            <a asp-action="AddPerson" class="btn btn-stnd">Add new person <i class="fa fa-caret-right fa-light"></i></a>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4">
            <form asp-controller="Person" asp-action="Search" method="get">
                <div class="input-group">
                    <span class="input-group-text border-orange" id="search-addon"><i class="fa-solid fa-magnifying-glass fa-main"></i></span>
                    <input asp-for="Search" type="search" class="form-control border-orange" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-actors-tab" data-bs-toggle="pill" data-bs-target="#pills-actors" type="button" role="tab" aria-controls="pills-actors" aria-selected="false">Actors</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-directors-tab" data-bs-toggle="pill" data-bs-target="#pills-directors" type="button" role="tab" aria-controls="pills-directors" aria-selected="false">Directors</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">

                @* TAB ALL PERSONS *@
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                    <div class="row">
                        <div class="col table-responsive">
                            <table class="table">
                                <thead class="table-header">
                                    <tr>
                                        <th class="txt-color-dark" scope="col">Id</th>
                                        <th class="txt-color-dark" scope="col">Name</th>
                                        <th class="txt-color-dark" scope="col">Date of birth</th>
                                        <th class="txt-color-dark" scope="col">Place of birth</th>
                                        <th class="txt-color-dark" scope="col">Country of birth</th>
                                        <th class="txt-color-dark" scope="col">Role</th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model.Personen)
                                    {
                                        <tr>
                                            <td class="py-3">@p.Id</td>
                                            <td class="py-3">@p.Voornaam @p.Achternaam</td>
                                            <td class="py-3">@p.Geboortedatum.ToString("dd/MM/yyyy")</td>
                                            <td class="py-3">@p.Geboorteplaats</td>
                                            <td class="py-3">@p.Geboorteland</td>
                                            <td class="py-3">@p.Rol</td>
                                            <td class="py-3">
                                                <a tabindex="0" class="link" role="button" data-bs-toggle="popover" title="Bio - @p.Voornaam @p.Achternaam" data-bs-trigger="focus" data-bs-custom-class="custom-popover" data-bs-content="@p.Biografie">
                                                    <i class="fa fa-align-left fa-main-accent"></i>
                                                </a>
                                            </td>
                                            <td class="py-3">
                                                <a asp-action="EditPerson" asp-route-id="@p.Id" data-bs-toggle="tooltip" title="Edit - @p.Voornaam @p.Achternaam">
                                                    <i class="fa fa-pencil fa-main-accent"></i>
                                                </a>
                                            </td>
                                            <td class="py-3">
                                                <a asp-action="DeletePerson" asp-route-id="@p.Id" data-bs-toggle="tooltip" title="Delete - @p.Voornaam @p.Achternaam">
                                                    <i class="fa fa-close fa-main-close"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                @* TAB ACTORS *@
                <div class="tab-pane fade" id="pills-actors" role="tabpanel" aria-labelledby="pills-actors-tab">
                    <div class="row">
                        <div class="col table-responsive">
                            <table class="table">
                                <thead class="table-header">
                                    <tr>
                                        <th class="txt-color-dark" scope="col">Id</th>
                                        <th class="txt-color-dark" scope="col">Name</th>
                                        <th class="txt-color-dark" scope="col">Date of birth</th>
                                        <th class="txt-color-dark" scope="col">Place of birth</th>
                                        <th class="txt-color-dark" scope="col">Country of birth</th>
                                        <th class="txt-color-dark" scope="col">Role</th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model.Personen)
                                    {
                                        if(p.Rol == "Actor")
                                        {
                                            <tr>
                                                <td class="py-3">@p.Id</td>
                                                <td class="py-3">@p.Voornaam @p.Achternaam</td>
                                                <td class="py-3">@p.Geboortedatum.ToString("dd/MM/yyyy")</td>
                                                <td class="py-3">@p.Geboorteplaats</td>
                                                <td class="py-3">@p.Geboorteland</td>
                                                <td class="py-3">@p.Rol</td>
                                                <td class="py-3">
                                                    <a tabindex="0" class="link" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Bio - @p.Voornaam @p.Achternaam" data-bs-custom-class="custom-popover" data-bs-content="@p.Biografie">
                                                        <i class="fa fa-align-left fa-main-accent"></i>
                                                    </a>
                                                </td>
                                                <td class="py-3">
                                                    <a class="" asp-action="EditPerson" asp-route-id="@p.Id" data-bs-toggle="tooltip" title="Edit @p.Voornaam @p.Achternaam">
                                                        <i class="fa fa-pencil fa-main-accent"></i>
                                                    </a>
                                                </td>
                                                <td class="py-3">
                                                    <a class="" asp-action="DeletePerson" asp-route-id="@p.Id" data-bs-toggle="tooltip" title="Delete @p.Voornaam @p.Achternaam">
                                                        <i class="fa fa-close fa-main-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                @* TAB DIRECTORS *@
                <div class="tab-pane fade" id="pills-directors" role="tabpanel" aria-labelledby="pills-directors-tab">
                    <div class="row">
                        <div class="col table-responsive">
                            <table class="table">
                                <thead class="table-header">
                                    <tr>
                                        <th class="txt-color-dark" scope="col">Id</th>
                                        <th class="txt-color-dark" scope="col">Name</th>
                                        <th class="txt-color-dark" scope="col">Date of birth</th>
                                        <th class="txt-color-dark" scope="col">Place of birth</th>
                                        <th class="txt-color-dark" scope="col">Country of birth</th>
                                        <th class="txt-color-dark" scope="col">Role</th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                        <th class="txt-color-dark" scope="col"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model.Personen)
                                    {
                                        if (p.Rol == "Director")
                                        {
                                            <tr>
                                                <td class="py-3">@p.Id</td>
                                                <td class="py-3">@p.Voornaam @p.Achternaam</td>
                                                <td class="py-3">@p.Geboortedatum.ToString("dd/MM/yyyy")</td>
                                                <td class="py-3">@p.Geboorteplaats</td>
                                                <td class="py-3">@p.Geboorteland</td>
                                                <td class="py-3">@p.Rol</td>
                                                <td class="py-3">
                                                    <a tabindex="0" class="link" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Bio - @p.Voornaam @p.Achternaam" data-bs-custom-class="custom-popover" data-bs-content="@p.Biografie">
                                                        <i class="fa fa-align-left fa-main-accent"></i>
                                                    </a>
                                                </td>
                                                <td class="py-3">
                                                    <a class="" asp-action="EditPerson" asp-route-id="@p.Id" data-bs-toggle="tooltip" title="Edit @p.Voornaam @p.Achternaam">
                                                        <i class="fa fa-pencil fa-main-accent"></i>
                                                    </a>
                                                </td>
                                                <td class="py-3">
                                                    <a class="" asp-action="DeletePerson" asp-route-id="@p.Id" data-bs-toggle="tooltip" title="Delete @p.Voornaam @p.Achternaam">
                                                        <i class="fa fa-close fa-main-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
