@model MovieFreak.ViewModels.AdminViewModels.DatalinkViewModel;
@{
    ViewData["Title"] = "Datalink";
}

<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row row-cols-2">
        <div class="col-6 mt-3">
            <a asp-controller="Admin" asp-action="Index" class="link"> <i class="fa fa-caret-left fa-main"></i> Terug</a>
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</section>

<section class="container">
    <div class="row row-cols-2">

        <div class="col-7">

        </div>

    
        <div class="col-5">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-films-tab" data-bs-toggle="pill" data-bs-target="#pills-films" type="button" role="tab" aria-controls="pills-films" aria-selected="true">Film id's'</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-actors-tab" data-bs-toggle="pill" data-bs-target="#pills-actors" type="button" role="tab" aria-controls="pills-actors" aria-selected="false">Acteur id's</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-directors-tab" data-bs-toggle="pill" data-bs-target="#pills-directors" type="button" role="tab" aria-controls="pills-directors" aria-selected="false">Regisseur id's</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-languages-tab" data-bs-toggle="pill" data-bs-target="#pills-languages" type="button" role="tab" aria-controls="pills-languages" aria-selected="false">Taal id's</button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-films" role="tabpanel" aria-labelledby="pills-films-tab">
                    <div class="row">
                        <div class="col-auto table-responsive">
                            <table class="table">
                                <thead class="table-header">
                                    <tr>
                                        <th class="txt-color-dark" scope="col">Id</th>
                                        <th class="txt-color-dark" scope="col">Film titel</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var f in Model.Films)
                                    {
                                        <tr>
                                            <td>@f.Id</td>
                                            <td>@f.Titel</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-actors" role="tabpanel" aria-labelledby="pills-actors-tab">

                    <div class="row">
                        <div class="col-auto table-responsive">
                            <table class="table">
                                <thead class="table-header">
                                    <tr>
                                        <th class="txt-color-dark" scope="col">Id</th>
                                        <th class="txt-color-dark" scope="col">Acteurs</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var p in Model.Personen)
                                    {
                                        if (p.Rol == "Acteur")
                                        {
                                            <tr>
                                                <td>@p.Id</td>
                                                <td>@p.Voornaam @p.Achternaam</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="pills-directors" role="tabpanel" aria-labelledby="pills-directors-tab">

                    <div class="row">
                        <div class="col-auto table-responsive">
                            <table class="table">
                                <thead class="table-header">
                        <tr>
                                        <th class="txt-color-dark" scope="col">Id</th>
                                        <th class="txt-color-dark" scope="col">Regisseurs</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var p in Model.Personen)
                                    {
                                        if (p.Rol == "Regisseur")
                                        {
                                                    <tr>
                                                        <td>@p.Id</td>
                                                        <td>@p.Voornaam @p.Achternaam</td>
                                                    </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="pills-languages" role="tabpanel" aria-labelledby="pills-languages-tab">

                    <div class="row">
                        <div class="col-auto table-responsive">
                            <table class="table">
                                <thead class="table-header">
                                    <tr>
                                        <th class="txt-color-dark" scope="col">Id</th>
                                        <th class="txt-color-dark" scope="col">Talen</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var t in Model.Talen)
                                    {
                                        <tr>
                                            <td>@t.Id</td>
                                            <td>@t.GesprokenTaal</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>



            </div>

            

        </div>
    </div>
</section>


