@model MovieFreak.ViewModels.HomeViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Home";
}
@{

    List<int> list = new List<int>();

    foreach (Film f in Model.Films)
    {
        list.Add(f.Id);
    }

    var random = new Random();
    int index = random.Next(list.Count);

}


@*LAPTOP LARGE*@
<section class="container d-none d-xl-block">

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 mt-3">
                <img class="position-absolute" src="~/images/movie-freak-home.png" alt="MovieFreakRoundLogo">
            </div>
        </div>
    </div>

    <div class="row gx-5 spotlight">

        

        @foreach (Film f in Model.Films)
        {
            if (f.Id == list[index])
            {
                <div class="col">
                    <div class="p-3">
                        <img class="img-thumbnail img-trans" src="~/images/placeholder-cover-square.jpg" alt="Placeholder">
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h1 class="m-0">
                            @f.Titel
                        </h1>
                        <div class="mt-3 mb-1">

                            <div class="row row-cols-3 mx-0 px-0">

                                <div class="col h4 ps-0">
                                    <h5>@f.Duurtijd</h5>
                                </div>

                                <div class="col h4 ps-0">
                                    <div class="row">
                                        @foreach (var t in this.Model.FilmTalen)
                                        {
                                            @if (f.Id == t.FilmId)
                                            {
                                                <h4 class="col h4">
                                                    @t.Taal.GesprokenTaal
                                                </h4>
                                            }
                                        }
                                    </div> 
                                </div>

                                <div class="col h4 ps-0">
                                    <h5>
                                        @f.Genre.FilmGenre
                                    </h5>
                                </div>

                            </div> 

                        </div>
                        <hr class="hr-blue m-0" />
                        <div class="text-container py-1">
                            <p class="fs m-0">
                                @f.Omschrijving
                            </p>
                        </div>
                        <div>
                            <a asp-controller="Film" asp-action="FilmDetails" asp-route-id="@f.Id" class="btn btn-stnd">
                                Discover more
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>

@*LAPTOP SMALL*@
<section class="container d-xl-none d-none d-lg-block">
    <div class="row">
        <div class="col">
            <div class="p-3 mt-3">
                <img class="position-absolute" src="~/images/movie-freak-home.png" alt="MovieFreakRoundLogo">
            </div>
        </div>
    </div>

    <div class="row spotlight">
        <div class="col">
            <div class="p-3">
                <img class="img-thumbnail img-trans" src="~/images/placeholder-cover-square.jpg" alt="Placeholder">
            </div>
        </div>
    </div>

    <div class="row">

        @foreach (Film f in Model.Films)
        {
            if (f.Id == list[index])
            {
                <div class="col pt-4">
                    <div class="p-3">
                        <h1 class="m-0">@f.Titel</h1>
                        <div class="mt-3 mb-1">
                            <div class="row row-cols-3 mx-0 px-0">
                                <div class="col h4 ps-0">
                                    <h5>@f.Duurtijd</h5>
                                </div>
                                <div class="col h4 ps-0">
                                    <div class="row">
                                        @foreach (var t in this.Model.FilmTalen)
                                        {
                                            @if (f.Id == t.FilmId)
                                            {
                                                <h5 class="col">
                                                    @t.Taal.GesprokenTaal
                                                </h5>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col h4 ps-0">
                                    <h5>@f.Genre.FilmGenre</h5>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-blue m-0" />
                        <div class="text-container">
                            <p class="fs m-0">
                                @f.Omschrijving
                            </p>
                        </div>

                        <div>
                            <a asp-controller="Film" asp-action="FilmDetails" asp-route-id="@f.Id" class="btn btn-stnd btn-lg">
                                Discover more
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        
    </div>
</section>

@*TABLET*@
<section class="container d-lg-none d-none d-md-block">
    <div class="row">
        <div class="col">
            <div class="py-3 px-0 mt-3">
                <img class="img-thumbnail img-trans" src="~/images/movie-freak-home.png" alt="MovieFreakRoundLogo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center align-content-center">
            <div class="">
                <img class="img-thumbnail img-trans" src="~/images/placeholder-cover-square.jpg" alt="Placeholder">
            </div>
        </div>
    </div>

    <div class="row pt-3 px-3">

        @foreach (Film f in Model.Films)
        {
            if (f.Id == list[index])
            {
                <div class="col">
                    <div class="py-3">
                        <h1 class="m-0">@f.Titel</h1>
                        <div class="mt-3 mb-1">
                            <div class="row row-cols-3 mx-0 px-0">

                                <div class="col ps-0">
                                    <h4 class="h4">@f.Duurtijd</h4>
                                </div>

                                <div class="col ps-0">
                                    <div class="row">
                                        @foreach (var t in this.Model.FilmTalen)
                                        {
                                            @if (f.Id == t.FilmId)
                                            {
                                                <h4 class="h4">
                                                    @t.Taal.GesprokenTaal
                                                </h4>
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="col ps-0">
                                    <h4 class="h4">@f.Genre.FilmGenre</h4>
                                </div>

                            </div>
                        </div>
                        <hr class="hr-blue m-0" />
                        <div class="text-container">
                            <p class="m-0 max-lines">
                                @f.Omschrijving
                            </p>
                        </div>

                        <div>
                            <a asp-controller="Film" asp-action="FilmDetails" asp-route-id="@f.Id" class="btn btn-stnd btn-lg">
                                Discover more
                            </a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</section>

@*SMARTPHONE*@
<section class="container d-md-none">
    
    <div class="row">
        <div class="col">
            <div class="py-3 px-0 mt-3">
                <img class="img-thumbnail img-trans" src="~/images/movie-freak-home.png" alt="MovieFreakRoundLogo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center align-content-center">
            <div class="">
                <img class="img-thumbnail img-trans" src="~/images/placeholder-cover-square.jpg" alt="Placeholder">
            </div>
        </div>
    </div>

    <div class="row pt-3 px-3">

        @foreach (Film f in Model.Films)
        {
            if (f.Id == list[index])
            {
                <div class="col">
                    <div class="py-3">
                        <h3 class="m-0">@f.Titel</h3>
                        <div class="mt-3 mb-1">
                            <div class="row row-cols-3 mx-0 px-0">

                                <div class="col ps-0">
                                    <h5 class="h5">@f.Duurtijd</h5>
                                </div>

                                <div class="col ps-0">
                                    <div class="row">
                                        @foreach (var t in this.Model.FilmTalen)
                                        {
                                            @if (f.Id == t.FilmId)
                                            {
                                                <h5 class="h5">
                                                    @t.Taal.GesprokenTaal
                                                </h5>
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="col ps-0">
                                    <h5 class="h5">@f.Genre.FilmGenre</h5>
                                </div>
                                
                            </div>
                        </div>
                        <hr class="hr-blue m-0" />
                        <div class="text-container">
                            <p class="m-0 max-lines">
                                @f.Omschrijving
                            </p>
                        </div>

                        <div class="d-grid">
                            <a asp-controller="Film" asp-action="FilmDetails" asp-route-id="@f.Id" class="btn btn-stnd btn-lg">
                                Discover more
                            </a>
                        </div>
                    </div>
                </div>
            }
        }        
    </div>
</section>

